forcepmodels alien_slave;agrunt

plrstart_zoffset 0

mp_radiovoice 1
mp_npckill 0
## Set to 0 if you DON'T want players to get frags for killing monsters
mp_monsterpoints 1
## Map time limit, in minutes
mp_timelimit 60
## Map frag limit. Not recommended in most circumstances
mp_fraglimit 0
## File with list of maps to cycle through, in order
## mapcyclefile mapcycle.txt
## Setting of 1 allows players to use flashlight
mp_flashlight 0
## Setting of 1 enables 'realistic' falling damage
mp_falldamage 1
## Setting of 1 forces players to respawn about a sec after death
mp_forcerespawn 0
## Setting of 0 makes weapons disappear after they're picked up
## Weapons will respawn after a while, like ammo does.
mp_weaponstay 1
## Physics stuff. 
## Don't change unless you know what Ur doing
sv_accelerate 10
sv_airaccelerate 2
sv_friction 4
sv_gravity 800
sv_maxspeed 270
sv_wateraccelerate 10
sv_waterfriction 1
mp_modelselection 0

nomedkit

mp_disable_autoclimb 1
mp_multiplespawn 1
mp_telefrag 0
mp_hevsuit_voice 0
mp_suitpower 0
npc_dropweapons 0
mp_survival_supported 1

weapon_slave 1

globalsoundlist ../../sound/decay/dy_global.gsr

sentence_file sound/decay/dy_sentences.txt

map_script decay_main
